{% extends '_base.html' %}

{% block title %}Registrarse{% endblock title %}

{% block content %}
    <br/>
    <div class="container mx-auto">
        <div class="grid grid-cols-3">
            <div class="col-start-2 border">
                <h1 class="text-indigo-900 font-bold text-2xl text-center p-2">Registrarse</h1>
                <form method="post" class="mt-2 mx-8">
                    {% csrf_token %}
<!--                    {{ form.as_p }}-->
                    {{ form.non_field_errors }}
                    <div class="my-4">
                        <label class="block font-semibold mb-2">Nombre de usuario</label>
                        <input type="text" name="username" class="shadow appearance-none
                        border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
                        focus:shadow-outline"/>
                    </div>
                    {% if form.username.errors %}
                        <p class="text-red-500 text-xs italic">{{ form.username.errors }}</p>
                    {% endif %}
                    <div class="my-4">
                        <label class="block font-semibold mb-2">Contraseña</label>
                        <input  type="password" name="password1" class="shadow appearance-none
                        border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
                        focus:shadow-outline"/>
                    </div>
                    {% if form.password1.errors %}
                        <p class="text-red-500 text-xs italic">{{ form.password1.errors }}</p>
                    {% endif %}
                    <div class="my-4">
                        <label class="block font-semibold mb-2">Contraseña (confirmación)</label>
                        <input type="password" name="password2" class="shadow appearance-none
                        border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
                        focus:shadow-outline"/>
                    </div>
                    {% if form.password2.errors %}
                        <p class="text-red-500 text-xs italic">{{ form.password2.errors }}</p>
                    {% endif %}
                    <div class="flex justify-center">
                        <button type="submit" class="my-4 bg-indigo-900 rounded-xl p-2 px-4 text-white
                        font-semibold hover:bg-indigo-700">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}