<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Chat server{% endblock title %}</title>
</head>
<header>
    {% if user.is_authenticated %}
        <p>{{ user }}</p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Cerrar sesión</button>
        </form>
    {% else %}
        <ul>
            <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
            <li><a href="{% url 'signup' %}">Registrarse</a></li>
        </ul>
    {% endif %}
</header>
<body>
    {% block content %}
    {% endblock content %}
</body>
</html>