{% extends '_base.html' %}

{% block title %}Sala: {{ room.name }}{% endblock title %}

{% block content %}
    <br/>
    <div class="container mx-auto">
        <div class="grid grid-cols-3 divide-x">
            <div>
                <h1 class="text-indigo-900 font-bold text-2xl text-center p-2">
                    Sala de chat: <span class="text-black">{{ room.name }}</span>
                </h1>
            </div>
            <div class="col-span-2">
                <div id="room-id" data-room-id="{{ room.pk }}"></div>
                <div id="request-user" data-user-id="{{ user.username }}"></div>
                <div id="chat" class="p-2 overflow-y-auto h-96 mx-8"></div>
                <div id="chat-input" class="p-2 mx-8">
                    <div class="flex flex-row gap-4">
                        <div class="basis-3/4">
                            <input id="chat-message-input" type="text" class="shadow appearance-none
                            border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
                            focus:shadow-outline"/>
                        </div>
                        <div>
                            <input id="chat-message-submit" type="submit" value="Enviar" class="shadow
                            appearance-none border rounded-xl w-full py-2 px-3 text-white leading-tight
                            focus:outline-none focus:shadow-outline bg-indigo-900 font-semibold
                            hover:bg-indigo-700 cursor-pointer"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        // Obtener el ID de la sala desde el atributo 'data-room-id' en el elemento HTML
        const roomId = document.getElementById('room-id').getAttribute('data-room-id');
        const requestUser = document.getElementById('request-user').getAttribute('data-user-id');
        const url = 'ws://' + window.location.host + '/ws/' + roomId + '/';
        let chatSocket;

        function connectWebSocket() {
            chatSocket = new WebSocket(url);

            chatSocket.onmessage = function(event) {
                const data = JSON.parse(event.data);
                const chat = document.getElementById('chat');
                const dateOptions = {hour: '2-digit', minute: '2-digit', hour12: false};
                const datetime = new Date(data.datetime).toLocaleString('en-US', dateOptions);
                const isMe = data.user === requestUser;
                const source = isMe ? 'me' : 'other';
                const name = isMe ? 'Yo' : data.user;
                chat.innerHTML += '<div class=" p-3 rounded-2xl w-80 my-2 ' + source + '">'
                + '<strong>' + name + '</strong> ' +
                 '<span class="text-xs">' + datetime + '</span><br>' + data.message + '</div>';
                chat.scrollTop = chat.scrollHeight;
            };

            chatSocket.onclose = function(event) {
                console.error('El chat socket se ha cerrado inesperadamente');
                // Intentar restablecer la conexión
                setTimeout(connectWebsocket, 1000)
            };

            chatSocket.onerror = function(event) {
                console.error('Error en el websocket', error);
            };
        }

        connectWebSocket();

        const input = document.getElementById('chat-message-input');
        const submitButton = document.getElementById('chat-message-submit');

        submitButton.addEventListener('click', function(event) {
            const message = input.value;
            if (message && chatSocket.readyState === WebSocket.OPEN) {
                chatSocket.send(JSON.stringify({'message': message})),
                input.value = '';
                input.focus();
            } else {
                console.error('No se ha podido enviar el mensaje, webSocket cerrado')
            }
        });

        input.addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                submitButton.click();
            }
        });
        input.focus();
    </script>

{% endblock content %}
